
.bca_container1 {
    background: url("../assets/backgound.jpg");
    width: 100%;
    /* height: 90vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.bca_card1 {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.bca_main_head {
    /* border: 2px solid black; */
    background: url("../assets/Rectangle00.png");
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem;

    width: 762px;
    height: 143px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}

.bca_main_heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bca_container2 {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 3rem 2rem;
}

.cards1 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.cards2 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.cards3 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.cards4 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.cards5 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.cards6 {
    width: 420px;
    height: auto;
    background: linear-gradient(193.54deg, rgba(0, 0, 0, 0.7) 50.36%, rgba(79, 75, 75, 0) 164.9%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    padding: 2rem 1rem;
}

.card_heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
