
.course_container1 {
    background: url("../assets/backgound.jpg");
    width: 100%;
    
    height: 86.8vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
}

.course_card_container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course_card {
    width: 450px;
    height: 172px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card1{
    background: url("../assets/Rectangle28.png");
}
.card2{
    background: url("../assets/Rectangle30.png");
}
.course_card_container2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card3{
    background: url("../assets/Rectangle29.png");
}
.card4{
    background: url("../assets/Rectangle31.png");
}
.card5{
    background: url("../assets/Rectangle32.png");
}
.course_card_container1 a{
    text-decoration: none;
}
.course_card_container2 a{
    text-decoration: none;
}